/* Globales */
body {
  background-color: #81231e;
  font-family: 'Poppins', sans-serif;
  font-weight:600;
  margin: 0;
  padding: 0;
  color: #333;
}

/* Animación */
@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
