.challenges-container {
  background-color: #0D0D0D;
  color: #DFFFD6;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 90%;
  margin: 20px auto 3em auto;
  padding: 15px;
  border: 2px solid #2E8B57;
}

.challenges-container li {
  background-color: #183D2D;
  border: 1px solid #A1D884;
}

.challenges-container button {
  background-color: #2E8B57;
  color: white;
  border-radius: 10px;
}

.challenges-container button:hover {
  background-color: #A1D884;
  color: #0D0D0D;
}
