/* ChallengesContainer.css */
.challenges-container {
  margin: 20px auto;
  padding: 15px;
  background-color: #2d4459;
  color: #f0f4f8;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 90%;
}

.challenges-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.challenges-container li {
  background-color: #426a8c;
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #f9fafb;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.challenges-container button {
  background-color: #a66414;
  color: white;
  font-weight: 600;
  padding: 8px 12px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  max-width: 150px;
}

.challenges-container button:hover {
  background-color: #81231e;
}

/* Media Queries */
@media (max-width: 768px) {
  .challenges-container {
    width: 100%;
  }
}