/* ChallengesContainer.css */

.challenges-container {
  margin: 20px auto;
  padding: 20px;
  backdrop-filter: blur(12px);
  color: #333; /* Color de texto más suave y accesible */
  border-radius: 20px; /* Esquinas más redondeadas */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Sombra más suave */
  text-align: center;
  border: solid 1px rgba(255, 255, 255, 0.8);;
  width: 90%;
  max-width: 2200px; /* Límite de ancho máximo para un diseño más organizado */
  transition: background-color 0.3s ease; /* Transición más fluida */
}

.challenges-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.challenges-container li {
  color: #e0e0e0;
  background-color: #151d26;
  margin: 12px 0;
  padding: 15px;
  border-radius: 12px;
  border: 1px solid #e0e0e0; /* Bordes más suaves */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animación de transformación y sombra */
}

.challenges-container button {
  background-color: #290a0a; /* Color más vibrante para el botón */
  color: white;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 12px; /* Esquinas más redondeadas */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  width: 100%;
  max-width: 180px; /* Asegura un tamaño de botón adecuado */
}

.challenges-container button:hover {
  color: #333;
  background-color: #dfdfdf; /* Color de hover más distintivo */
  transform: translateY(-3px); /* Efecto de desplazamiento al pasar el mouse */
}

.challenges-container button:active {
  transform: translateY(1px); /* Efecto visual cuando se presiona el botón */
}

/* Media Queries */
@media (max-width: 768px) {
  .challenges-container {
    width: 95%; /* Ajuste en dispositivos pequeños */
    padding: 15px;
  }

  .challenges-container li {
    flex-direction: column; /* Cambiar la dirección del contenido a columna en pantallas pequeñas */
    align-items: flex-start; /* Alinear los elementos al inicio */
  }

  .challenges-container button {
    width: auto; /* Permitir que el botón se ajuste al contenido */
    max-width: 100%; /* Botón más flexible */
  }
}

@media (max-width: 480px) {
  .challenges-container {
    padding: 10px; /* Menos padding en pantallas pequeñas */
  }

  .challenges-container li {
    padding: 12px; /* Ajustar padding para pantallas pequeñas */
  }
}
