/* Personaje */
.caracter {
  text-align: center;
  margin: 50px auto;
  background-color: #151d26;
  color: #f4f0e5;
  padding: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  border-radius: 100px;
}

.caracter h1 {
  font-size: 1.5em;
  color: #f4f0e5;
  margin-bottom: 20px;
}

canvas {
  border-radius: 150px;
  background-color: #594b39;
  margin: 20px auto;
  display: block;
  width: 600px; 
  height: 600px;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.actions button {
  background-color: #81231e;
  color: white;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1em;
}

.actions button:hover {
  background-color: #a66414;
  color: white;
}

/* Sidebar de recompensas */
.character-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.sidebar {
  background-color: black;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  max-width: 200px;
}

.sidebar button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.sidebar button:hover {
  background-color: #45a049;
}
