/* Container principal */
.character-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: clamp(10px, 2vw, 20px);
  padding: clamp(1rem, 2vw, 2rem);
  min-height: 70vh;
  max-width: 1200px;
  margin: auto;
  background: linear-gradient(135deg, #0D0D0D  , #A1D884  ); /* Fondo degradado */
  backdrop-filter: blur(12px);
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

/* Personaje */
.caracter {
  text-align: center;
  margin: 50px auto;
  color: #fff;
  padding: 50px;
  max-width: 600px;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.2); /* Fondo semitransparente */
}

.caracter h1 {
  font-size: 2em;
  color: #fff;
  margin-bottom: 20px;
}

/* Canvas y su contenedor */
.canvas-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem; /* Agregar margen abajo */
}

.canvas-wrapper h1 {
  text-align: center;
  background-color: #DFFFD6;
  color: #0D0D0D;
  border-radius: 12px;
  text-transform: uppercase;
  font-size: 2em;
  padding: 12px 25px;
  margin-bottom: 3rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

canvas {
  border-radius: 12px;
  margin: 20px auto;
  display: block;
  width: 600px;
  height: 700px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* Sombras sutiles */
}

/* Acciones generales */
.actions button {
  background-color: #81231e;
  color: white;
  font-weight: 600;
  padding: 12px 25px;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 1.2em;
}

.actions button:hover {
  background-color: #a66414;
  transform: translateY(-3px);
}

/* Sidebar */
.sidebar {
  background-color: #1c1c1c;
  color: #dfffd6;
  border: 2px solid #2e8b57;
  border-radius: 12px;
  padding: 1.5rem;
  max-width: 300px;
}

.reward-item {
  background: #2a3c4f;
  border: 1px solid #3e5c70;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.reward-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

/* Botones de recompensa */
.equip-button {
  background-color: #2e8b57;
  border: 1px solid #dfffd6;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  transition: all 0.4s ease-in-out;
}

.equip-button:hover {
  background-color: #a1d884;
  transform: rotate(3deg);
}

.equip-button.equipped {
  background-color: #304d73;
}

.equip-button.equipped:hover {
  background-color: #1a365d;
}

/* Responsive */
@media (max-width: 1200px) {
  .character-container {
    flex-direction: column;
    align-items: center;
  }

  .sidebar {
    width: 100%;
    max-width: 600px;
  }

  canvas {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 768px) {
  .caracter {
    padding: 20px;
    margin: 20px;
  }

  .canvas-wrapper h1 {
    font-size: 1.5em;
  }

  .sidebar {
    padding: 1rem;
  }
}
